<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container" id="main-content">
        <div class="row d-flex justify-content-center">
            <form style="min-width: 300px;" action="#" th:action="@{/ktxRoom/save}" th:object="${room}" method="POST" >
   				<h5 class="text-center">Room form</h5>

				<input type="hidden" th:field="*{id}" />
				
			    <div class="form-group">
			    	<label for="soPhong">Số phòng</label>
			        <input id="soPhong" class="form-control" type="text" placeholder="Số phòng" th:field="*{soPhong}"  />
			    </div>

			    <div class="form-group">
			    	<label for="loaiPhong">Loại phòng</label>
			        <input id="loaiPhong" class="form-control" type="text" placeholder="Loại phòng" th:field="*{loaiPhong}"   />
			    </div>
			
			    <div class="form-group">
			    	<label for="donGia">Đơn giá</label>
			        <input id="donGia" class="form-control" type="text" placeholder="Đơn giá" th:field="*{donGia}" />
			    </div>
			    
			    <div class="form-group">
			    	<label for="soNguoiToiDa">Số người tối đa:</label>
			    	<br>
			        <select id="soNguoiToiDa" name="soNguoiToiDa" th:field=*{soNguoiToiDa} style="width: 100%">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
					</select>
			    </div>
			
			    <div class="form-group">
			        <button type="submit" class="btn btn-block btn-primary">
			            <i class="fa fa-save"></i> Save
			        </button>
			    </div>
			</form>
        </div>
    </div>
</body>
</html>