<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>
	
    <div class="container" id="main-content">
        <div class="row">
            <div class="col-6 no-padding">
                <form class="form-inline" action="#" th:action="@{/ktxService/search}" method="get">
   					<input class="form-control mr-sm-2" type="search" name="tenDichVu" placeholder="Nhập tên dịch vụ" />
    				<button class="btn btn-primary" type="submit">
        				<i class="fa fa-search"></i> Search
    				</button>
				</form>
            </div>

            <a href="#" th:href="@{/ktxService/add}" class="btn btn-success float-right">
    			<i class="fa fa-plus-square"></i> Add new service
			</a>
			
			<a href="#" th:href="@{/}" class="btn btn-secondary float-right" style="margin-left: 20px">
    			<i class="fa fa-undo" aria-hidden="true"></i> Trở về
			</a>
			
        </div>

        <div class="row mt-4">
        	<div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        		<span th:text="${successMessage}"></span>
        		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            		<span aria-hidden="true">&times;</span>
       			</button>
    		</div>
    		
            <th:block th:if="${#lists.isEmpty(services)}">
                <h5>Không có dịch vụ nào</h5>
                
            </th:block>

            <th:block th:unless="${#lists.isEmpty(services)}">
                <div class="table-responsive">
                    <h5>Danh sách dịch vụ</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                        	<tr>
				                <th>#</th>
				                <th>Tên dịch vụ</th>
				                <th>Đơn giá</th>
				                <th>Action</th>
            				</tr>
            			</thead>
            			<tbody>
				            <tr th:each="service,iterStat : ${services}">
				                <th scope="row" th:text="${iterStat.count}"></th>
				                <td th:text="${service.tenDichVu}"></td>
				                <td th:text="${service.donGia}"></td>
				                <td>
                            		<a href="#" th:href="@{/ktxService/{maDichVu}/edit(maDichVu=${service.maDichVu})}" class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a>
                            		<a href="#" th:href="@{/ktxService/{maDichVu}/delete(maDichVu=${service.maDichVu})}" class="mr-sm-2 text-danger"><i class="fa fa-trash"></i></a>
                       			</td>
				            </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div><!-- /.container -->

</body>
</html>