<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav> 
    <div class="container" id="main-content">
        <div class="row">
        </div>
        <div class="row mt-4">
            <th:block th:if="${#lists.isEmpty(students)}">
                <h5>No student</h5>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(students)}">
                <div class="table-responsive">
                    <h5>List of students in room</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                        	<tr>
				                <th>#</th>
				                <th>MSV</th>
				                <th>Tên</th>
				                <th>Ngày đến</th>
            				</tr>
            			</thead>
            			<tbody>
				            <tr th:each="s,iterStat : ${students}">
				                <th scope="row" th:text="${iterStat.count}"></th>
				                <td th:text="${s.student.msv}"></td>
				                <td th:text="${s.student.ten}"></td>
				                <td th:text="${s.ngayden}"></td>
				            </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div><!-- /.container -->

</body>
</html>